---
import Layout from '../layouts/Layout.astro';
---

<Layout title="plugin Manager">
	<main>
		<h1 class="text-green-400">Welcome to <span>Gena</span></h1>
		<p class="text-gray-900 dark:text-slate-100">Docs comming soon...</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
